#carousel.carousel
  .carousel-box
    .row.carousel-inner-box
      .col-md-4.thumb-big
        =image_tag('thumb-big.jpeg')
      .row.thumb-small
        .col-md-2.image-frame
          =image_tag('thumb-sm2.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm3.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm4.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm5.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm6.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm7.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm9.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm10.jpeg')
      .row.thumb-small
        .col-md-2.image-frame
          =image_tag('thumb-sm11.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm12.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm13.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm14.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm15.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm16.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm17.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm18.jpeg')
  .arrow.prev <
  .arrow.next >