#carousel.carousel
  .carousel-box
    .row.carousel-inner-box
      .col-md-4.thumb-big
        =image_tag('thumb-big.jpeg')
      .row.thumb-small
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
      .row.thumb-small
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
        .col-md-2.image-frame
          =image_tag('thumb-sm.jpeg')
  .arrow.prev <
  .arrow.next >